

// Контакты
// ---------------------------------------------------------------------------- //

.f-contact {
   width: 100%;
   width: 100%;
   margin: $gap auto auto auto;
   position: relative;


   &__cell--txt {
      background: c(cw, lighten);
		border-radius: $rad;
		box-shadow: 0 3px  5px 0 rgba(0,0,0,0.2);
      position: absolute;
      top: $gap*5;
      right: 11vw;
      padding: $gap*3;
   }

      &__titles {
         margin: 0 0 $gap*2 0;
         font-weight: 500;
         font-size: 20px;
         line-height: $line-height;
         color: c(cb, light);
      }

      &__titles-min {
         margin: $gap 0 0 0;
         font-size: 18px;
         line-height: $line-height;
         color: c(cb, lighten);
      }

         & &__txt {
            font-weight: 500;
            color: c(cb, lighten);
            font-size: 18px;
            line-height: $line-height;

            &--tel {
               @include icon-before("\\e803");
            }
            &--mail {
               @include icon-before("\\e820");
            }
            &--adress-office {
               @include icon-before("\\e84d");
            }

            &:before {
               width: 30px;
               text-align: center;
               display: inline-block;
            }
         }

}
