.not-map-contact {
   width: 100%;
   position: relative;
   overflow: hidden;

   display: flex;
   justify-content: center;
   align-items: center;

   //background: c(cb, lighten);
   //box-shadow: 0 -5px 10px 0 rgba(0,0,0,.25), 0 5px 10px 0 rgba(0,0,0,.45);

   &__cont {
      position: relative;
      text-align: center;
      padding: 5vh 0;

      @include res(l-m) {
         width: 65%;
      }
      @include res(s) {
         width: 95%;
      } 
   }

      &__tittle {
         text-align: center;
         color: c(cw, base);
         font-size: clamp(29px, 2vw, 65px);
         margin: $gap*3 0 $gap*2 0;
      }

      &__href {
         color: c(cw, light);
         text-decoration: none;
      }

      &__text {
         color: c(cw, light);
         font-size: clamp(21px, 1.45vw, 48px);
         line-height: 1.65;
         margin: 0;
      }
}