@use "sass:math";

// Базовые текстовые переменные
// ---------------------------------------------------------------------------- //

// базовый размер шрифта
$font-size: 18px;

// базовый вертикальный ритм
$line-height: 1.5;

// отступ между блоками текста
$text-gap: ($font-size * $line-height) * 0.4;

// базовый цвет текста
$text-color: c(cb, base);


// Заголовки
// ---------------------------------------------------------------------------- //

// цвет для генерации заголовков, и базовый цвет для h1
$h-color: $text-color;

// процент снижения яркости цвета от h1 к h6
$h-color-step: 5.4%;

// Размер заголовка h1
$h-font-size: 33px; 

// ступень уменьшения размера заголовка
// данные параметры устанавливают h6 равным $font-size
$h-font-size-step: math.div(( $h-font-size - $font-size ), 5);



// Переменные разметки
// ---------------------------------------------------------------------------- //
// количество колонок в сетке
$base-column: 12;

// единый глобальный отступ
$gap: 8px;

// единое глобальное скругление
$rad: 7px;

// вкл/выкл обертки у контента
$wrapper-content: true;

// вкл/выкл обертки у заголовков постов и виджетов
$wrapper-title: true;

// Отступы заголовков постов и виджетов
$title-padding: $gap $gap;

// высота верхнего меню
$topmenu-height: 45px;

// высота шапки
$header-height: auto;

// внутренние отступы шапки сверху и снизу
$header-padding-block: 60px ;

// позиция контента относительно шапки
$content-top-margin: 0;




