
// Обертка для блоков
// ---------------------------------------------------------------------------- //

@mixin wrap() {
	@if $wrapper-content == true {
		border: solid c(cw, darken) 0.0526rem;
		background: c(cw, base);
		border-radius: $rad;
		box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	}
}


// Обертка для блоков блоков лендингов
// ---------------------------------------------------------------------------- //
@mixin home-fon {
   background: transparentize( c(second, dark), .65);
   margin: $gap 0;
}