
/*******************************************************************************************************************************************\
					||  || |||||| ||   | ||
					||  ||   ||   ||| || ||
					||||||   ||   || | | ||
					||  ||   ||   ||   | ||
					||  ||   ||   ||   | ||||||
\*******************************************************************************************************************************************/

html {
	width: 100%;
}


html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


.body {
	width: 100%;
	height: 100%;
	font-weight: 400;
	position: relative;
}


.wrapper {
	@include row(column);
}



/*******************************************************************************************************************************************\
					||||||  ||||  |||||   ||||  ||   || |||||| |||||| |||||  ||   ||      ||   | |||||  ||  ||  ||||||  ||||||  ||||
					||  || ||  || ||  || ||  || ||| ||| ||       ||   ||  || ||   ||      ||   | ||  || ||  || |  ||  |   ||   ||  ||
					||  || |||||| |||||| |||||| || | || ||||     ||   |||||| |||| ||      || | | |||||| || ||| |  ||  |   ||   ||||||
					||  || ||  || ||     ||  || ||   || ||       ||   ||     || | ||      || | | ||     ||| ||  ||||||    ||   ||  ||
					||  || ||  || ||     ||  || ||   || ||||||   ||   ||     |||| ||      |||||| ||     ||  ||    ||      ||   ||  ||
\*******************************************************************************************************************************************/

html {
	@include res(l) {
		font-size: unquote("max( (100vw/1920*16), (16px - (1920px - 100vw) * 0.0007083333))");
	}
	@include res(b) {
		font-size: unquote("max( (100vw/1024*16), (16px - (1024px - 100vw) * 0.00102083333))");
	}
	@include res(m) {
		font-size: unquote("max( (100vw/786*16), (16px - (786px - 100vw) * 0.00082083333))");
	}
	@include res(s) {
		font-size: unquote("max( (100vw/500*16), (16px - (500px - 100vw) * 0.00252083333))");
	}
}


.wrap {
	margin-left: auto;
	margin-right: auto;

	height: auto;
	
	max-width: clamp(960px, 90rem, 95%);
}
