
/*******************************************************************************************************************************************\
					 ||||||   ||||  ||  ||      |||||   ||||  |||||  ||  ||
					|  ||  | ||  || ||  ||      ||  || ||  || ||  ||  ||||
					|  ||  | ||  || ||||||      |||||  ||  || ||  ||   ||
					 ||||||  ||  || ||  ||      ||  || ||  || ||  ||   ||
					   ||     ||||  ||  ||      |||||   ||||  |||||    ||
\*******************************************************************************************************************************************/

:where(.body) {
	background: c(first, lighten);
}



/*******************************************************************************************************************************************\
					||  || |||||  |||||| ||||||  ||||       ||   |  ||||  |||||| ||  || ||  ||
					||  || ||  || ||       ||   ||  ||      ||   | ||  || ||  || || ||  ||  ||
					||  || |||||  ||||     ||   ||||||      || | | |||||| ||  || ||||   || |||
					||  || ||  || ||       ||   ||  ||      || | | ||  || ||  || || ||  ||| ||
					 ||| | |||||  ||||||   ||   ||  ||      |||||| ||  || ||  || ||  || ||  ||
\*******************************************************************************************************************************************/

:where(.header) {
	background: c(first, base);
	color: c(cw, base);
	text-shadow: -1px -1px rgba(0,0,0,0.45);

	a {
		color: c(cw, base);

		&:hover {
			color: c(second, base);
		}

		&:before, & span:before {
			color: c(cw, light);
		}

		&:hover:before, &:hover span:before {
			color: c(second, light);
		}
	}

	& :before {
		color: c(cw, dark);
	}
}



/*******************************************************************************************************************************************\
					||  || |||||  |||||| ||||||  ||||       ||   ||  ||||  |||||           ||   || |||||| ||  || ||  ||
					||  || ||  || ||       ||   ||  ||      ||| ||| ||  || ||              ||| ||| ||     ||  || || |  |
					||  || |||||  ||||     ||   ||||||      || | || ||  || |||||           || | || ||||   |||||| ||||| |
					||  || ||  || ||       ||   ||  ||      ||   || ||  || ||  ||          ||   || ||     ||  || || |  |
					 ||| | |||||  ||||||   ||   ||  ||      ||   ||  ||||  |||||  ||       ||   || |||||| ||  || ||  ||
\*******************************************************************************************************************************************/

.mobile-menu {

	:where(&__label) {
		background: c(first, dark);
		color: c(cw, base);
	}

	:where(&__box) {
		a {
			color: c(cw, base);

			&:hover{
				color: c(second, base);
			}

			&:before, & span:before {
				color: c(cw, dark);
			}

			&:hover:before, &:hover span:before {
				color: c(second, light);
			}
		}
	}
}



/*******************************************************************************************************************************************\
					||  || |||||  |||||| ||||||  ||||       ||||||  ||||  |||||           ||   || |||||| ||  || ||  ||
					||  || ||  || ||       ||   ||  ||      ||     ||  || ||  ||          ||| ||| ||     ||  || || |  |
					||  || |||||  ||||     ||   ||||||      ||     ||  || ||||||          || | || ||||   |||||| ||||| |
					||  || ||  || ||       ||   ||  ||      ||     ||  || ||              ||   || ||     ||  || || |  |
					 ||| | |||||  ||||||   ||   ||  ||      ||      ||||  ||     ||       ||   || |||||| ||  || ||  ||
\*******************************************************************************************************************************************/

:where(.topmenu) {
	background: c(first, dark);
	color: c(cw, base);

	a {
		color: c(cw, base);

		&:hover{
			color: c(second, base);
		}

		&:before, & span:before {
			color: c(cw, dark);
		}

		&:hover:before, &:hover span:before {
			color: c(second, light);
		}
	}
}



/*******************************************************************************************************************************************\
					||  || |||||  |||||| ||||||  ||||       ||  ||  ||||  ||  || |||||| |||||| ||  || ||||||  ||||
					||  || ||  || ||       ||   ||  ||      || ||  ||  || ||  ||   ||   ||     ||  ||   ||   ||  ||
					||  || |||||  ||||     ||   ||||||      ||||   ||  || ||||||   ||   ||||   ||||||   ||   ||||||
					||  || ||  || ||       ||   ||  ||      || ||  ||  || ||  ||   ||   ||     ||  ||   ||   ||  ||
					 ||| | |||||  ||||||   ||   ||  ||      ||  ||  ||||  ||  ||   ||   |||||| ||  ||   ||   ||  ||
\*******************************************************************************************************************************************/

:where(.content) {
	background: c(cw, dark);
	color: c(cb, base);

	a {
		color: c(first, base);

		&:hover {
			color: c(second, base);
		}

		&:before, & span:before {
			color: c(first, light);
		}

		&:hover:before, &:hover span:before {
			color: c(second, dark);
		}
	}
}

:where(.content--landing) {
	background: c(first, light);
	color: c(cw, base);

	a {
		color: c(first, base);

		&:hover {
			color: c(second, base);
		}

		&:before, & span:before {
			color: c(first, light);
		}

		&:hover:before, &:hover span:before {
			color: c(second, dark);
		}
	}
}
/*******************************************************************************************************************************************\
					||  || |||||  |||||| ||||||  ||||       ||||||  ||||    |||   |||||   ||||     |||  ||||
					||  || ||  || ||       ||   ||  ||      ||  || ||  ||  || ||  ||  || ||  ||   | || ||  ||
					||  || |||||  ||||     ||   ||||||      ||  || ||  ||  || ||  |||||  ||||||  |  || ||||||
					||  || ||  || ||       ||   ||  ||      ||  || ||  || ||||||| ||  || ||  || ||  || ||  ||
					 ||| | |||||  ||||||   ||   ||  ||      ||  ||  ||||  |     | |||||  ||  || ||  || ||  ||
\*******************************************************************************************************************************************/

:where(.footer) {
	color: c(cw, base);
	text-shadow: -1px -1px rgba(0,0,0,0.45);

	a {
		color: c(cw, base);

		&:hover {
			color: c(second, base);
		}

		&:before, & span:before {
			color: c(cw, light);
		}

		&:hover:before, &:hover span:before {
			color: c(second, light);
		}
	}
}
